@model CMS.Data.Container

<h2>Create New Container</h2>

<form asp-action="CreateContainer" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ContainerNumber"></label>
        <input asp-for="ContainerNumber" class="form-control" autocomplete="off" />
        <span asp-validation-for="ContainerNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipmentDate"></label>
        <input asp-for="ShipmentDate" class="form-control" type="date" />
        <span asp-validation-for="ShipmentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OriginPort"></label>
        <input asp-for="OriginPort" class="form-control" autocomplete="off" />
        <span asp-validation-for="OriginPort" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DestinatiionPort"></label>
        <input asp-for="DestinatiionPort" class="form-control" autocomplete="off" />
        <span asp-validation-for="DestinatiionPort" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" name="Status" class="form-control">
            <option value="In Transit">In Transit</option>
            <option value="At Dock">At Dock</option>
            <option value="Delivered">Delivered</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top:5px;">
        <label for="file">Select a PDF file (max 5 MB):</label>
        <input type="file" name="file" id="file" class="form-control-file" />
        @Html.ValidationMessage("docfile", new {@class="text-danger"} )
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
